<li id="question-<%= question.id %>">
  <!--%= link_to gravatar_for(Quiz.find(question.quiz_id), size: 50), Quiz.find(question.quiz_id) %-->
  <%= question.title %>
  <ol class="answers">
    <% @answers.each do |a|  %>
      <%= render render partial: a, locals: {id: question.id} %>
      <br />
    <% end %>
  </ol>
</li>