<% provide(:title, 'New Questions') %>
<h1>New Questions</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>
      Question <%= @qNum %>:<br><br>
    </h3>
    <%= form_for(@question) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :title%>
      <%= f.text_field :title, class: 'form-control', :required => 'required' %>

      <%= f.submit "Submit the Question", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>