 <li id="quiz-<%= quiz.id %>">		
  <%= link_to gravatar_for(User.find(quiz.user_id), size: 50), User.find(quiz.user_id) %>		
  <span class="user"><%= link_to User.find(quiz.user_id).name, User.find(quiz.user_id) %><br /></span>		
  <span class="category"><%= quiz.category %></span>	
  <span class="title"> <%= quiz.title %> - <%= link_to "take this quiz", takeQuiz_path(quiz_id: quiz.id, question_id: Question.where(quiz_id: quiz.id).first) %></span>	
    <%= link_to 'Show Results', results_url(quiz_id: quiz.id) %>
    
    <% if current_user?(quiz.user) %>
       
      <%= link_to "delete", quiz, method: :delete,		
                                  data: { confirm: "Are you sure you want to delete this quiz?" } %>	<br>
    <% end %>  
    <span class="timestamp">		
    Posted <%= time_ago_in_words(quiz.created_at) %> ago.<br />
  </span>		
</li>
