<div class="col-md-8">
    <% @quizzes = Quiz.all %>
      <h3>Quizzes</h3>
      <%= form_tag quizzes_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
      <ol class="quizzes">
        <%= render @quizzes %>
      </ol>
</div>