<% provide(:title, 'New Quiz') %>
<h1>New Quiz</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@quiz) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :title%>
      <%= f.text_field :title, class: 'form-control', :required => 'required' %>
      <%= f.label :category%>
      <%= f.text_field :category, class: 'form-control', :required => 'required' %>
      <%= f.submit "Create the Quiz", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>