<p id="notice"><%= notice %></p>

 <div class="col">
      <div class="col-md-8">
        <h3>Score history for <%= @quiz.title %></h3>
        <p>
        <strong>Created By:</strong>
        <%= User.find(@quiz.user_id).name %>
      </p>
        <ol class="list-group">
          <% Score.where(quiz_id: @quiz.id).each do |s| %>
            <%= User.where(id: s.user_id).first.name %>
            <%= ((1.0 * s.value / Question.where(quiz_id: s.quiz_id).count) * 100) %><br />
            
            <% end  %>
        </ol>
      </div>
  </div>

<%= link_to 'Back', listQuiz_path %>
