<h1><%= @q.title %></h1>

<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
      <h1>
        Question <%= @questionNum %> out of <%= @totalQuestions %><br><br><br>
        <%= @question.title %><br><br>
        <% @answers.where(question_id: @question.id).each do |a| %>
            <%= link_to a.content, takeQuiz_path(quiz_id: @q.id, question_id: @question.id + 1, answer_id: a.id), class: "btn btn-lg btn-default" %>
          <br><br>
        <% end %>
      </h1>
    </section>
  </aside>
</div>