<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This web app is an opportunity for you to test your knowledge on a variety of things. 
  Feel free to make a quiz yourself, and see how well people do. 
</p>
