<% provide(:title, "Uh oh!") %>
<div class="center jumbotron">
  <h2>An Error has occured for the url: <%= request.fullpath %> </h2>

  <%= link_to "Return Home", root_path, class: "btn btn-lg btn-primary" %>
</div>
