<% if logged_in? %>
  <div class="col">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <%= link_to "Search for Quiz by Keyword", listQuiz_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Create a Quiz", createQuiz_path, class: "btn btn-lg btn-primary" %>
      <% @rand_id = Quiz.pluck(:id).sample %>
      <%= link_to "Take a Random Quiz", takeQuiz_path(quiz_id: @rand_id, question_id: Question.where(quiz_id: @rand_id).first), class: "btn btn-lg btn-primary" %>
    </aside>
  </div>
  <div class="col">
    <div class="col-md-8">
      <h3>Quiz Feed</h3>
      <%= form_tag quizzes_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

    <div class="center jumbotron">
      <h1>Welcome the Quiz App!!!!!</h1>
    
      <h2>
       This is the home page for our Quiz App
      </h2>
    
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
<% end %>    
