<li class="list-group-item" id="score-<%= score.id %>">
    <%= User.where(id: score.user_id).first.name %>	
    <span class="score"><%= ((1.0 * score.value / Question.where(quiz_id: score.quiz_id).count) * 100) %>%</span>
    <%= link_to 'Take ' + Quiz.where(id: score.quiz_id).first.title, takeQuiz_path(quiz_id: score.quiz_id, question_id: Question.where(quiz_id: score.quiz_id).first) %>
    <%= link_to 'Show Detailed ' + Quiz.where(id: score.quiz_id).first.title, detailedResults_path(quiz_id: score.quiz_id, 
                                                                                question_id: Question.where(quiz_id: score.quiz_id).first.id, 
                                                                                user_id: User.where(id: score.user_id).first.name) %>
</li>