<h1><%= @q.title %></h1>

<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
      <% if @correct == -1 %>
        <h1>
        You have not yet taken this quiz.<br><br><br>
        </h1>
      <% else %>
        <h1>
        Current User Score:<br>
        </h1>
        <h3>
        <%= @correct.to_i %> <%= "question".pluralize(@correct.to_i) %> correct out of <%= @totalQuestions.to_i %><br>
        <%= '%.1f' % (@score*100) %>%<br><br>
      <% end %>

      </h3>
      <h1>
        Average User Score:<br>
      </h1>
      <h3>
        <% if @avgScore.nan? %>
          No one has taken this quiz yet!
        <% else %>
          <%= '%.1f' % (@avgScore*100) %>%<br><br>
        <% end %>
      </h3>
    </section>
  </aside>
</div>

<% if @q.user_id == @user.id %>

  <div class="col">
        <div class="col-md-8">
          <h3>Score history for <%= @q.title %></h3>
          <p>
          <strong>Created By:</strong>
          <%= User.find(@q.user_id).name %>
        </p>
          <ol class="list-group">
            <h3>
            <% Score.where(quiz_id: @q.id).pluck(:user_id).uniq.each do |u| %>
              <%= User.where(id: u).first.name %>
              <%= '%.1f' % (Score.where(user_id: u, quiz_id: @q.id).sum(:value).to_f/Score.where(user_id: u, quiz_id: @q.id).count.to_f * 100) %>%<br />
              <% end  %>
              </h3>
          </ol>
        </div>
    </div>
    
<% end %>
  
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @correct == -1 %>
        <%= link_to "Take this Quiz", takeQuiz_path(quiz_id: @q.id, question_id: Question.where(quiz_id: @q.id).first), class: "btn btn-lg btn-primary" %>
        <% end %>
        <%= link_to "Return Home", root_url, class: "btn btn-lg btn-primary" %>
        <% if !Score.find_by(quiz_id: @q.id, user_id: @user.id).nil? %>
          <%= link_to "Detailed Results", detailedResults_path(quiz_id: @q.id,
          question_id: Question.where(quiz_id: @q.id).first.id), class: "btn btn-lg btn-primary" %>
        <% end %>
      </h1>
    </section>
  </aside>
</div>