<h1><%= @q.title %></h1>

<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
      <h1>
        Question <%= @questionNum %> out of <%= @totalQuestions %><br><br><br>
        <%= @question.title %><br><br>
        <% @answers.where(question_id: @question.id).each do |a| %>
          <% if a.correct %>
            <button type="button" class="btn btn-lg btn-success"><%= a.content %></button><br><br>
          <% else %>
            <button type="button" class="btn btn-lg btn-default"><%= a.content %></button><br><br>
          <% end %>
        <% end %>

        <% if @correct == 1 %>
          You got this question <font color="green">right!</font><br><br>
        <% else %>
          You got this question <font color="red">wrong!</font><br><br>
        <% end %>

        <%= @totalCorrect %> <%= "user".pluralize(@totalCorrect) %> out of <%= @totalTaken %> got this question right.<br><br>

      </h1>
      <% if Question.where(quiz_id: @q.id, id: @question.id + 1).exists? %>
        <%= link_to 'Next Question', detailedResults_path(quiz_id: @q.id, question_id: @question.id + 1), class: "btn btn-lg btn-primary" %>
      <% else %>
        <%= link_to 'View Results', results_url(quiz_id: @q.id), class: "btn btn-lg btn-primary" %>
      <% end %>
    </section>
  </aside>
</div>