<% provide(:title, 'All users') %>
<h1>All users</h1>
    <%= form_tag users_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
    <% end %>


<% if @users.any? %>
  <ol class="users"><font size="3em">
    <%= render @users %>
  </ol></font>
  <%= will_paginate @users %>
<% end %>