<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    
    <section class="stats"><font size="3em">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div>
    <%= render 'follow_form' if logged_in? %>
  </div></font>
  <div class="col">
      <div class="col-md-8">
        <h3>Quizzes by <%= @user.name %></h3>
        <ol class="quizzes">
          <%= render Quiz.where(user_id: @user.id) %>
        </ol>
      </div>
  </div>
  <% if @user == current_user %>
  <div class="col">
      <div class="col-md-8">
        <h3>Your Score History:</h3>
        <ol class="list-group">
          <% Score.where(user_id: @user.id).pluck(:quiz_id).uniq.each do |q| %>
            <h4>
              <%= Quiz.find(q).title %> <br>
              <% @correct = Score.where(user_id: @user.id, quiz_id: q).sum(:value) %>
              <% @total = Score.where(user_id: @user.id, quiz_id: q).count %>
              You got <%= @correct %> questions out of <%= @total %> correct.<br>
              <%= '%.1f' % (@correct.to_f/@total.to_f*100) %>%  <%= link_to "Retake Quiz", takeQuiz_path(quiz_id: q, question_id: Question.where(quiz_id: q).first) %> 
              <%= link_to "Detailed Results", detailedResults_path(quiz_id: q, question_id: Question.where(quiz_id: q).first.id) %><br><br>
            </h4>
        <% end %>
        </ol>
      </div>
  </div>
</div>
<% end %>
