<% provide(:title, 'New Answers') %>
<h1>New Answers</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>
      Answer <%= @aNum %>:<br><br>
    </h3>
    <%= form_for(@answer) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :content%>
      <%= f.text_field :content, class: 'form-control', :required => 'required' %>
      
      <%= f.label "Correct"%>
      <%= f.check_box :correct %>
      <%= f.submit "Save the answer", class: "btn btn-primary" %>
      <% if !Answer.where(question_id: Question.last.id, correct: true).empty? && @aNum.to_i != 1 %>
        <%= link_to "Create more Questions", createQuestion_path(quiz_id: Quiz.first.id), class: "btn btn-primary" %>
        <%= link_to "Finish creating Quiz", root_url, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>