<footer class="footer">
  <small>
    Senior Project By: Alex Mutzabaugh, Brandon Longenecker, Chris Dierdorff, and Greg Oliff
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", new_message_url %></li>
      <li><a href="https://github.com/cdierdorff/quiz">Github</a></li>
    </ul>
  </nav>
</footer>